* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: figtree;
}

.header {
    background-image: url(Pictures/Background\ landing\ page.jpeg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative; 
}

/* .first-segment {
    display: flex;
    justify-content: center;
} */

.overlay {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); 
    pointer-events: none; 
    z-index: 1; 
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 50px 20px;
    z-index: 2;
    text-transform: uppercase;
}

.main-title-box {
    text-align: center;
    padding-top: 90px;
    z-index: 2;
}

.main-title {
    font-size: 68px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.subtitle {
    font-style: italic;
    font-size: 18px;
    font-weight: lighter;
    
}

.menu-icon {
    display: none;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin: 0 20px;
    font-size: 13px;
}

a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.navbar-title {
    font-size: 20px;
}

.contact-button {
    background-color: white;
    color: #25836c;
    padding: 15px;
    border-radius: 30px;

}

.donate-button {
    background-color: #25836c;
    color: white;
    padding: 20px;
    border-radius: 30px;
    margin: 90px auto;
    text-align: center;
    width: 10%;
}

@media (max-width: 1170px) {
    .nav-links {
        display: none;<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600;700&display=swap" rel="stylesheet">
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .menu-icon:checked ~ .nav-links {
        display: flex;
    }

}